<h2>Add a Celebrity</h2>

<h2> Add a new Celeb..</h2>
{{!-- <form action="" method="POST">

  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name" placeholder="James Bond">
  <label for="occupation-input">Occupation</label>
  <input id="occupation-input" type="text" name="occupation" placeholder="Spy">
  <label for="pharse-input">Catch Pharse</label>
  <input id="pharse-input" type="text" name="pharse" placeholder="Bond, James Bond">
  <button>Creat</button>


</form> --}}